In [3]:
# Tracking Portfolio Project

In [101]:
import pandas as pd
import csv
from datetime import datetime
from data_entry import get_amount, get_category, get_date, get_description
import matplotlib.pyplot as plt

class CSV:
    CSV_FILE="finance_data.csv"
    COLUMNS=['date','amount','category','description']
    FORMAT='%d-%m-%Y'

    @classmethod # Class method
    def initialize_cvs(cls):
        try:
            pd.read_csv(cls.CSV_FILE)
        except FileNotFoundError:
            df=pd.DataFrame(columns=cls.COLUMNS)
            df.to_csv(cls.CSV_FILE, index=False)


    @classmethod
    def add_entry(cls, date, amount, category, description):
        new_entry={
            'date':date,
            'amount':amount,
            'category':category,
            'description':description
        }
        with open(cls.CSV_FILE, 'a', newline='') as csvfile:
            writer=csv.DictWriter(csvfile, fieldnames=cls.COLUMNS)
            writer.writerow(new_entry)
        print('Entry added succesfully')


    @classmethod
    def get_transaction(cls, start_date, end_date):
        
        df = pd.read_csv(cls.CSV_FILE)
        df['date'] = pd.to_datetime(df['date'], format=cls.FORMAT)
        start_date = datetime.strptime(start_date, cls.FORMAT)
        end_date = datetime.strptime(end_date, cls.FORMAT)
        mask = (df['date'] >= start_date) & (df['date'] <= end_date)
        filtered_df = df.loc[mask]
        
        if filtered_df.empty:
            print('No transactions in the given date range')
        else:
            print(f'Transaction from {start_date.strftime(cls.FORMAT)} to {end_date.strftime(cls.FORMAT)}')
            print(filtered_df.to_string(index=False, formatters={'date': lambda x: x.strftime(cls.FORMAT)}))
        
        total_income = filtered_df.loc[filtered_df['category'] == 'Income']['amount'].sum()
        total_expense = filtered_df.loc[filtered_df['category'] == 'Expense']['amount'].sum()
        print('\nSummary:')
        print(f'Total Income: ${total_income:.2f}')
        print(f'Total Expense: ${total_expense:.2f}')
        print(f'Net Savings: ${(total_income - total_expense):.2f}')

            

def add():
    CSV.initialize_cvs()
    date=get_date("Enter de date of transaction (dd-mm-yyyy) or enter for today's date: ", allow_default=True)
    amount=get_amount()
    category=get_category()
    description=get_description()
    CSV.add_entry(date,amount,category,description)

def plot_transactions(df):
    df.set_index('date',inplace=True)

    income_df=df.loc[df['category']=='Income'].resample('D').sum().reindex(df.index,fill_value=0)
    #DataFrame income_df tiene una fila para cada día del rango de fechas de tu DataFrame original, aunque no haya habido ingresos ese día 
    #(en ese caso, el valor será 0)
    expense_df=df.loc[df['category']=='Expense'].resample('D').sum().reindex(df.index,fill_value=0)
    plt.figure(figsize=(10,5)
    plt.plot(income_df.index,income_df['amount'], label='Income', color='g')
    plt.plot(expense_df.index,expense_df['amount'], label='Expense', color='r')
    plt.xlabel('Date')
    plt.ylabel('Amount')
    plt.title('Income and Expense Over Time')
    plt.legend()
    plt.grid(True)
    plt.show()
               
def main():
    while True:
        print('\n1. Add a new transaction')
        print('2. View transaction and summary within a date range')
        print('3. Exit')
        choice=input('Enter your choice (1-3): ')

        if choice == '1':
            add()
        elif choice == '2':
            start_date=get_date('Enter the start date (dd-mm-yy): ')
            end_date=get_date('Enter the end date (dd-mm-yy): ')
            CSV.get_transaction(start_date,end_date)
            if input('Do you want to plot ? (y/n) ').lower() == 'y':
                plot_transactions(df)
        elif choice=='3':
            print('Exiting...')
            break
        else:
            print('Invalid choice. Enter 1, 2 or 3.')
            


if __name__=='__main__':
    main()

1. Add a new transaction
2. View transaction and summary within a date range
3. Exit

Enter your choice (1-3):  1
Enter de date of transaction (dd-mm-yyyy) or enter for today's date:  19-07-2024
Enter the amount:  3000
Enter the category('I' for Income or 'E' for Expense:  I
Enter description Salary

Entry added succesfully

1. Add a new transaction
2. View transaction and summary within a date range
3. Exit

Enter your choice (1-3):  2
Enter the start date (dd-mm-yy):  07-07-2024
Enter the end date (dd-mm-yy):  30-07-2024

ValueError: time data "2025" doesn't match format "%d-%m-%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [28]:
df=pd.read_csv('finance_data1.csv')

In [46]:
df.head()

        date  amount category     description
0 2024-07-01  1000.0   Income          Salary
1 2024-07-02    50.0  Expense       Groceries
2 2024-07-03   150.0  Expense       Utilities
3 2024-07-04   200.0   Income  Freelance Work
4 2024-07-05    75.0  Expense      Restaurant

In [44]:
df['date']=pd.to_datetime(df['date'], format='%d-%m-%Y')

In [54]:
df2=df.loc[(df['date']>='2024-07-02') & (df['date']<='2024-07-04')]

In [64]:
df2

        date  amount category     description
1 2024-07-02    50.0  Expense       Groceries
2 2024-07-03   150.0  Expense       Utilities
3 2024-07-04   200.0   Income  Freelance Work

In [80]:
df2.reindex()

200.0